<a href="https://colab.research.google.com/github/PraveeshS/ML-project/blob/main/heartdisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv')

In [ ]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

There are no missing values in the above dataset.

In [ ]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**Justification:**
In the given dataset every parameter is important for predicting the heart disease,hence no column is dropped.

**Heat Map**

A heat map is a graphical representation of data in which values are displayed as colors on a two-dimensional matrix.Heatmaps are commonly used in data analytics to visualize patterns and relationships in large, complex data sets.It can give a more comprehensive overview of how users are really behaving.Heatmaps useful in identifying the correlations between different variables, clustering similar data points, and identifying outliers or anomalies in the given dataset.They can also be used in conjunction with other visualization techniques, such as scatter plots or bar charts.It also helps to identify the patterns and trends in given dataset

**Pair plot**

It is a graphical representation of the pairwise relationships between variables in a data set. It helps in finding the correlations and patterns between variables.The diagonal of the grid typically shows a histogram of each variable, which provides additional information about the distribution of the data.In a pair plot, each variable in the data set is plotted against every other variable. The resulting grid of scatter plots shows the relationship between each pair of variables. The diagonal of the grid typically shows a histogram or a density plot of each variable, which provides additional information about the distribution of the data.Pair plots are used to identify outliers,multivariate analysis.

**Cluster Map**

A cluster map is a visual representation of clusters or groups in a dataset. It is a type of data visualization used in data analytics to understand the patterns and relationships between variables or observations.Cluster maps use a combination of colors and shapes to represent clusters, where similar observations or variables are grouped together. The closer the observations or variables are to each other, the more similar they are.Cluster maps are useful for exploratory data analysis and can be used to identify patterns, relationships, and outliers in a dataset. They can also be used for data segmentation and targeting in marketing or customer analysis.